<div class="container page">
  <div class="card m-3">
    <h5 class="card-header">Sign up to {{ username }}'s Newsletter</h5>
    <div class="card-body">
      <form
        [formGroup]="subscriberForm"
        class="container p-3 mb-3"
        style="padding-bottom: 2em"
        (ngSubmit)="onSubmit()"
      >
        <div class="row p-3">
          <div class="col-6 p-3 m-3" style="padding: 1em">
            <label class="form-label">Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              required
            />
            <!-- <div *ngIf="submitted && email.invalid && (email.dirty || email.touched)"
                    class="alert alert-danger" class="invalid-feedback"> -->
            <!-- <div *ngIf="email.hasError('required')">Email is required</div>
                        <div *ngIf="email.hasError('email')">Email must be a valid email address</div> -->
            <!-- </div> -->
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary me-2">Submit</button>
          <button class="btn btn-secondary" type="reset" (click)="onReset()">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
