<div class="container page">
  <div class="card m-3">
    <h5 class="card-header">Sign up to {{ username }}'s Newsletter</h5>
    <div class="card-body">
      <form
        [formGroup]="subscriberForm"
        class="container pb-20"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group" style="padding: 1em">
          <label class="form-label">Email</label>
          <input
            type="text"
            id="name"
            formControlName="email"
            class="form-control"
            placeholder="email@example.com"
            required
          />
          <div
            *ngIf="
              submitted &&
              subscriberForm.invalid &&
              (subscriberForm.dirty || subscriberForm.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="subscriberForm.get('email')?.hasError('required')">
              Email is required
            </div>
            <div *ngIf="subscriberForm.get('email')?.hasError('email')">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <button
            class="btn btn-secondary m-3"
            type="reset"
            (click)="onReset()"
          >
            Reset
          </button>
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
