<div class="home-page">
  <div class="banner" *ifAuthenticated="false">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your <i>Angular</i> knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <h1>Newsletter Subscribers</h1>
        </div>

        <div class="list-group">
          @for (subscriber of subscribers; track $index) {
            <div
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="d-flex w-100 justify-content-between">
                <p class="d-inline">
                  {{ subscriber.email }}
                </p>
                <button
                  class="btn btn-sm btn-outline-danger"
                  (click)="deleteSubscriber(subscriber.email)"
                >
                  <i class="ion-trash-a"></i> Delete
                </button>
              </div>
            </div>
          } @empty {
            <div class="list-group-item">There are no subscibers yet</div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
